*{
    padding: 10;
    margin: 10;
}

h1{
    text-align: center;
    background-color: rgb(20, 80, 211);
    color: azure;
    padding: 20px;
}

h2{
    text-align: center;
    padding-bottom: 20px;
}

nav ul {
    background-color: black;
    width: 100%;
    list-style-type: lower-roman;
    text-align: center;

}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: rgb(197, 22, 22);
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: white;
}

img {
    width: 1000px;
    height: 250px;
    align-items: center;
    object-fit: cover;
    padding-top: 20px;
}

.Descripción {
    display: flex;
    margin: 60px;
    align-items: center;
    padding: 40px;
}

.Texto {
    width: 100%;
    border-right: 3px solid black;
    padding-bottom: 20px;
}

.Barralateral {
    padding-left: 20px;
}

body {
    background-color: azure;
}